.container {
  display: grid;
  grid-template-columns: 1fr;

}

canvas{
  padding-left: 0;
     padding-right: 0;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

#overlay{
  margin-top: 300px;
  text-align: center;
}

#current-score{
  width: 20px;
  height: 20px;
  background-color: #F00;
}

#high-score{
  width: 20px;
  height: 20px;
  background-color: yellow;
}
