body{
    font-family: 'VT323', monospace;
}


#container {


}

h1{
  font-size: 4em;
  font-weight: 400;
}

canvas{
  padding-left: 0;
     padding-right: 0;
     margin-left: auto;
     margin-right: auto;
     display: block;
}


#play-again-button{
  text-decoration: none;
  border: 2px solid #000;
  padding: 10px;
}

#overlay{
  margin-top: 300px;
  text-align: center;
}

#current-score{
  width: 20px;
  height: 20px;
  background-color: #F00;
}

#high-score{
  width: 20px;
  height: 20px;
  background-color: yellow;
}
